* {
    box-sizing: border-box;
  }
  
  :root {
    --clr-primary--900: rgb(212, 212, 210);
    --clr-primary--100: rgba(212, 212, 210, 0.607);
    --clr-seconary-600: rgb(28, 28, 28);
    

    --clr-neutral-900: rgb(80, 80, 80);
    --clr-neutral-700: rgb(110, 110, 110);
    --clr-neutral-100: rgb(255, 255, 255);

    --clr-secondary-700: rgb(255, 149, 0);
    --clr-secondary-400: rgba(255, 149, 0, 0.758);
    --clr-secondary-200: rgba(218, 227, 232);
  
    --ff-primary: 'Open Sans', sans-serif;
    
  
  }

  body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--clr-secondary-200);
    height: 100vh;
    font-family: var(--ff-primary);
    font-weight: 100;
  }

  .operator {
    background: var(--clr-secondary-700);
  }

  .negative {
    font-size: 1rem;
  }

  .operator-grey {
    background: var(--clr-primary--900);
    color: var(--clr-neutral-900); 
  }

/*----------------CALCULATOR-------------*/
  .calculator {
    border-radius: .5em;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.76) 0px 22px 70px 4px;;
    background: var(--clr-seconary-600);
   
  }

  .number:active {
    background: var(--clr-neutral-700);
    transition: .3s;
  }

  .operator:active {
    background: var(--clr-secondary-400);
    transform: .3s;
  }

  .operator:focus {
    background: var(--clr-neutral-100);
    color: var(--clr-secondary-700);
  }

  .operator-grey:active {
    background: var(--clr-neutral-900);
    transition: .3s;
    color: var(--clr-neutral-100);
  }

  button {
    background: #505050;
    color: var(--clr-neutral-100);
    border: none;
    font-family: var(--ff-primary);
    font-weight: 100;
    font-size: 1.2rem;
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }



  .calculator-screen {
    background: var(--clr-seconary-600);
    color: var(--clr-neutral-100);
    width: 16.25rem;
    padding: 1.2rem 1.4rem;
    font-size: 2.2rem;
    text-align: right;
  }


  /*----------------KEYS-------------- */
  .digits {
    background: #1C1C1C;
    display: grid;
    gap: .5rem;
    
    padding: 0.75rem 1.4rem;
    grid-template-columns: repeat(4, auto);
    grid-template-areas: 
        ". . . ."
        "seven eight nine times"
        "four five six minus"
        "one two three plus"
        "zeru zeru decimal equal";
  }

  .one {
    grid-area: one;
  }

  .two {
    grid-area: two;
  }

  .three {
    grid-area: three;
  }

  .four {
    grid-area: four;
  }

  .five {
    grid-area: five;
  }

  .six {
    grid-area: six;
  }

  .seven {
    grid-area: seven;
  }

  .eight {
    grid-area: eight;
  }

  .nine {
    grid-area: nine;
  }

  .on {
    grid-area: one;
  }

  .zero {
    grid-area: zeru;
    width: auto;
    height: auto;
    border-radius: 30px;
    text-align: left;
    padding-left: .8em
  }